@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">System rekrutacji</h1>
    <br />
    <br />

    <div class="center_list">

    <ul class="button_list">
        <li class="centered hover">
            <a class="large_button" asp-area="" asp-controller="Applications" asp-action="Index">Podania</a>
        </li>
        <li class="centered hover">
            <a class="large_button" asp-area="" asp-controller="Questionary" asp-action="Start">Rekomendacja kierunku</a>
        </li>

    </ul>
    </div>
    

    

</div>
