@model PO_projekt_implementacja_Puz.Models.Application

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Application</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ApplicationIdentifier" class="control-label"></label>
                <input asp-for="ApplicationIdentifier" class="form-control" />
                <span asp-validation-for="ApplicationIdentifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecruitmentIndex" class="control-label"></label>
                <input asp-for="RecruitmentIndex" class="form-control" />
                <span asp-validation-for="RecruitmentIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CandidateFk" class="control-label"></label>
                <select asp-for="CandidateFk" class="form-control" asp-items="ViewBag.CandidateFk"></select>
                <span asp-validation-for="CandidateFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecruitmentFk" class="control-label"></label>
                <select asp-for="RecruitmentFk" class="form-control" asp-items="ViewBag.RecruitmentFk"></select>
                <span asp-validation-for="RecruitmentFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationStatusFk" class="control-label"></label>
                <select asp-for="ApplicationStatusFk" class="form-control" asp-items="ViewBag.ApplicationStatusFk"></select>
                <span asp-validation-for="ApplicationStatusFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighSchoolDiplomaFk" class="control-label"></label>
                <select asp-for="HighSchoolDiplomaFk" class="form-control" asp-items="ViewBag.HighSchoolDiplomaFk"></select>
                <span asp-validation-for="HighSchoolDiplomaFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentFk" class="control-label"></label>
                <select asp-for="DocumentFk" class="form-control" asp-items="ViewBag.DocumentFk"></select>
                <span asp-validation-for="DocumentFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
