@model PO_projekt_implementacja_Puz.ViewModels.ResultViewModel


@if( Model.reccomendedFields != null && Model.reccomendedFields.Count != 0)
{
	<div class="center_list">

		

		<ul class="button_list">

			<li><h2>Naszym zadaniem świetnie znajdziesz się na: </h2></li>


			@foreach(var field in Model.reccomendedFields)
			{
				<br />
				<li>
					<h2>@field.FieldName</h2>
				</li>
				<li>
					<br />
					<form asp-controller="FieldOfStudies" asp-action="Details" method="get">
						<input type="hidden" name="id" value="@field.Id" />
						<button class="large  hover" type="submit">Strona kierunku</button>
					</form>
				</li>
				

			}

			
		</ul>

	</div>

}
else{

	<div class="center_list">
		<ul class="button_list">
			<li>
				<h2>Nie udało nam się dopasować żadnego kierunku do twoich odpowiedzi.</h2>
			</li>
			<li>
				<h3>Możesz srpóbować wypełnić quiz jeszcze raz</h3>
			</li>
			<li>
				<br />
				<form asp-controller="Questionary" asp-action="Start" method="get">
					<button class="large  hover" type="submit">Powtórz quiz</button>
				</form>
			</li>
		</ul>

	</div>


}
