@*
    
*@
@{
}


<h1> Nie wiesz co studiować?</h1>
<h2> Znajdź kierunek dla siebie!</h2>
<h2>Weź udział w quizie i odpowiedz na pytania, aby my postaramy się polecić ci kierunek!</h2>

<form asp-controller="Questionary" asp-action="GetQuestion" method="post">
    <button type="submit">Start</button>
</form>
